@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: Poppins;
}

#wrapper {
  background-color: white;
  margin: 10vh auto;
  width: 60vw;
  height: 80vh;
  border-radius: 20px;
}

#main {
  width: 60vw;
  height: 80vh;
  background-color: antiquewhite;
  border-radius: 20px;
  display: flex;
  background: linear-gradient(
    rgb(0, 224, 255, 0.4) 0%,
    rgb(0, 224, 255, 0.2) 50%,
    rgb(255, 0, 214, 0.4) 100%
  );
}

#form-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: auto;
}

#form-div > * {
  margin: auto;
}

#company-name-div {
  float: right;
  width: 20%;
  height: 100%;
  background: linear-gradient(
    rgb(0, 224, 255, 0.2) 0%,
    rgb(255, 0, 214, 0.2) 100%
  );
  background-color: black;
}

#form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
}

#form > * {
  margin-bottom: 20px;
}

#form > button {
  margin-top: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #ff00d6, #00e0ff);
  font-size: 12px;
  color: white;
}

#or-div {
  font-size: 12px;
  font-weight: bold;
  margin-top: 28px;
  color: black;
}

input {
  border: none;
  border-bottom: 1px solid rgb(44, 44, 44, 0.5);
  background-color: transparent;
  margin: 10px 0;
  font-size: 12px;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

input:focus {
  outline: none;
}

#h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: black;
}

.log-buttons {
  display: flex;
}

.social-login {
  background-color: transparent;
  padding: 10px;
  border: 1px solid rgb(44, 44, 44, 0.4);
  border-radius: 5px;
  font-size: 12px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

#vertical-rl {
  /* Div CSS */
  width: 20%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(
    rgb(0, 224, 255, 0.2) 0%,
    rgb(255, 0, 214, 0.2) 100%
  );
  background-color: black;
  /* Code Vertical */
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  color: #0074d9;
  display: flex;
  justify-content: center;
  /* Text Size */
  margin: auto;
  font-size: 100px;
}

#already-had-account {
  font-size: 12px;
  color: black;
  margin-top: 20px;
}

#already-had-account > a {
  font-size: 12px;
  color: #ff00d6;
  text-decoration: none;
}

.social-icons {
  height: 25px;
  padding-right: 10px;
}
